{% extends "default" %}
{% block content_wrapper %}
    <article id="content" class="post container">
        <div class="row">
            <header class="col-md-11 col-md-offset-1">
                <h2>{{ page.title }}</h2>
            </header><!-- /.col-md-11 -->
        </div><!-- /.row -->
        <div class="row">
            <section class="col-md-8 col-md-offset-1 post-body">
                {{ page.blocks.content|raw }}
            </section><!-- /.col-md-8 -->
            <section class="col-md-3">
                {% block content_sidebar %}
                    <div class="post-date panel panel-default">
                        <div class="panel-body">
                            <span class="glyphicon glyphicon-time"></span>
                            {{ page.date|date("F j, Y") }}
                        </div><!-- /.panel-body -->
                    </div><!-- /.post-date .panel -->

                    {% if page.tags %}
                        <div class="post-tags panel panel-default">
                            <div class="panel-heading">Tags</div>
                            <div class="list-group">
                                {% for tag in page.tags %}
                                    <a href="/blog/tags/{{ tag|url_encode(true) }}" class="list-group-item"><span class="glyphicon glyphicon-tag"></span>{{ tag }}</a>
                                {% endfor %}
                            </div><!-- /.list-group -->
                        </div><!-- /.post-tags .panel -->
                    {% endif %}

                    {% if page.previous_post or page.next_post %}
                        <div class="post-nav panel panel-default">
                            <div class="panel-heading">
                                {% if page.previous_post and page.next_post %}
                                    Next and Previous Posts
                                {% elseif page.previous_post %}
                                    Previous Post
                                {% elseif page.next_post %}
                                    Next Post
                                {% endif %}
                            </div><!-- /.panel-heading -->
                            <div class="list-group">
                                {% if page.next_post %}
                                    <a href="{{ page.next_post.url }}" title="{{ page.next_post.title }}" class="list-group-item"><span class="glyphicon glyphicon-circle-arrow-right"></span>{{ page.next_post.title }}</a>
                                {% endif %}
                                {% if page.previous_post %}
                                    <a href="{{ page.previous_post.url }}" title="{{ page.previous_post.title }}" class="list-group-item"><span class="glyphicon glyphicon-circle-arrow-left"></span>{{ page.previous_post.title }}</a>
                                {% endif %}
                            </div><!-- /.list-group -->
                        </div><!-- /.post-nav .panel -->
                    {% endif %}
                {% endblock %}
            </section><!-- /.col-md-3 -->
        </div><!-- /.row -->
        {% if site.disqus_shortname %}
            <div class="row">
                <section id="disqus_thread" class="col-md-8 col-md-offset-1 post-comments">
                    <script type="text/javascript">
                        var disqus_shortname = '{{ site.disqus_shortname }}';
                        var disqus_identifier = '{{ page.disqus_identifier|default(site.url ~ page.url) }}';

                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                </section>
            </div><!-- /.row -->
        {% endif %}
    </article><!-- /.container -->
{% endblock %}
